<template lang="pug">
  .wrapper
    .wrapper__header(:class="{'blur-filter': showAdding}")
      .current-budget(v-for="(item, i) in getCurrentBudget" :key="i")
        .name Budget name:
          .name__value {{ item.name }}
        .name Budget currency:
          .name__value {{ item.currency }}
        .name Budget limit:
          .name__value {{ item.limit }}
        .name Remaining budget:
          .name__value {{ item.remBudget }}
        .name Avarage transaction summ:
          .name__value {{ item.avgSumm }}
        .name Min transaction summ:
          .name__value {{ item.minSumm }}
        .name Max transaction summ:
          .name__value {{ item.maxSumm }}
    .wrapper__back(:class="{'blur-filter': showAdding}")
      span.wrapper__back_link(@click="backToHome") Back To Home
    .wrapper__transaction-form(v-if="showAdding")
      Form(@saveTransaction="listenTransactionForm" @cancelTransactionForm="closeTransactionForm")
    .wrapper__table(v-if="showTransactions" :class="{'blur-filter': showAdding}")
      .wrapper__add-transaction
        .add-new-transaction Add new transaction
        .button__plus(@click="showForm") +
      TransactionsTable
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Form from '../../components/form/CreateTransactionForm';
import TransactionsTable from '../../components/transactionsTable/TransactionsTable';
export default {
  components: {
    Form,
    TransactionsTable
  },
  data: () => ({
    headArray: [
      'Transaction description',
      'Transactions summ',
      'Transactions currency',
      'Delete'
    ],
    showAdding: false,
    showTransactions: true
  }),
  computed: {
    ...mapGetters(['getBudgets', 'getCurrentBudgetId']),
    getCurrentBudget() {
      const filter = this.$route.params.id;
      this.currentBudgetId(filter);
      const pureFiltered = this.getBudgets.filter((budget, ind, arr) => {
        return arr.indexOf(budget) === Number(filter);
      });
      return pureFiltered;
    }
  },
  validate({ params }) {
    // Must be a number
    return /^\d+$/.test(params.id);
  },
  created() {
    this.receiveBudgets();
    this.setCurrencies();
  },
  methods: {
    ...mapActions(['currentBudgetId', 'receiveBudgets', 'setCurrencies']),
    backToHome() {
      this.$router.push('/budgets');
    },
    closeTransactionForm(data) {
      this.showAdding = data;
      this.showTransactions = !data;
    },
    listenTransactionForm(data) {
      this.showContent = false;
      this.showAdding = !this.showAdding;
    },
    showForm() {
      this.showContent = false;
      this.showAdding = !this.showAdding;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/mixins';

.wrapper {
  min-height: 100vh;

  background: radial-gradient(closest-side, #faecd5, #cae4d8);
  &__header {
    .current-budget {
      display: flex;

      .name {
        flex-basis: 14.28%;

        border: 1px solid grey;
        background: white;

        &__value {
          border-top: 1px solid grey;
        }
      }
    }
  }
  &__back {
    display: flex;
    justify-content: center;

    padding: 20px 0;

    cursor: pointer;
    &_link {
      &:hover {
        color: blue;
      }
    }
  }
  &__transactions-form {
    position: relative;
  }
  &__add-transaction {
    display: flex;
    justify-content: flex-end;

    padding: 5px;

    background: #fff;
    .add-new-transaction {
      font-size: 18px;

      @include flexCenterAlign;

      padding-right: 10px;
      margin-right: 10px;

      border-right: 1px solid grey;
    }
    .button__plus {
      font-size: 26px;
      font-weight: bold;

      width: 40px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: green;
      border-radius: 50%;

      color: #fff;
      cursor: pointer;
    }
  }
}
.blur-filter {
  filter: blur(2px);
  transition: filter 0.3s ease-in;
}
</style>
