<template lang="pug">
  section.container
    .container__content
      Budget
</template>

<script>
import Budget from '~/components/Budget.vue';

export default {
  components: {
    Budget
  }
};
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;

  background: radial-gradient(closest-side, #faecd5, #cae4d8);

  &__content {
    width: 100%;
  }
}
</style>
