<template lang="pug">
.form-transaction
    form.form-transaction__adding(@submit.prevent="saveTransaction")
      .form-transaction__adding_name
        .bname Transaction Description:
        .form-transaction__adding_input
          input.name(type="text" v-model="name" name="name" autofocus placeholder="Set transactions's name")
      .form-transaction__adding_summ
        .summ__name Transactions Summ:
        .summ__input
          input.summ(type="text" v-model="summ" placeholder="Enter summ" name="summ")
      .form-transaction__adding_currency
        .name Transaction Currency:
        .dropdown
          input.dropdown__input(placeholder="Choose your currency" v-model="selectedCurrency" name="currency")
          .dropdown__chevron(@click="changePseudooptions")
        .pseudooptions(v-if="openPseudooptions")
          .pseudooptions__all(v-for="(currency, i) in currencyArray" :key="i")
            .pseudooptions__all_row(@click="addNewTransactions(i)") {{ currency }}
        .form-transaction__adding_buttons
          input.ok(type="submit" value="Ok")
          .cancel(@click="cancelTransactionForm") Cancel
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import currencies from '../../helpers/currencies.js';

export default {
  data: () => ({
    closeTransactionForm: false,
    currencyArray: currencies,
    summ: '',
    name: '',
    openPseudooptions: false,
    selectedCurrency: ''
  }),
  computed: {
    ...mapGetters(['getCurrentBudgetId'])
  },
  methods: {
    ...mapActions(['setTransaction']),
    addNewTransactions(ind) {
      this.currencyArray.forEach((item, i) => {
        if (i === ind) {
          this.selectedCurrency = item;
        }
      });
      this.openPseudooptions = !this.openPseudooptions;
    },
    changePseudooptions() {
      this.openPseudooptions = !this.openPseudooptions;
    },
    cancelTransactionForm() {
      this.showAdding = !this.showAdding;
      this.$emit('cancelTransactionForm', this.closeTransactionForm);
    },
    saveTransaction(e) {
      // eslint-disable-next-line
      let withoutComma;
      if (e.target.summ.value.search(',') !== -1) {
        withoutComma = e.target.summ.value.replace(/,/g, '.');
      } else {
        withoutComma = e.target.summ.value;
      }
      const newTransactions = {
        name: e.target.name.value,
        currency: e.target.currency.value,
        summ: Number(withoutComma)
      };
      this.showAdding = !this.showAdding;
      this.$emit('saveTransaction', this.closeTransactionForm);
      this.setTransaction(newTransactions);
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/mixins.scss';

.form-transaction {
  position: absolute;
  left: 50%;
  top: -5%;

  transform: translate(-50%, 50%);
  z-index: 1;
  &__adding {
    width: 290px;

    @include flexColCenterAlignStart;

    padding: 20px 5px 20px 20px;

    border: 1px solid grey;
    background-color: beige;
    &_name {
      font-size: 20px;

      margin: 5px;

      .bname {
        display: flex;

        margin: 0 5px 5px 0;
      }
    }
    &_input {
      margin: 0 0px 20px 0px;

      .name {
        font-size: 18px;

        width: 252px;

        padding: 4px;

        border: 1px solid grey;
        &::placeholder {
          opacity: 0.4;
        }
      }
    }
    &_currency {
      margin: 0 5px 20px;

      .name {
        font-size: 20px;

        display: flex;

        margin: 0 5px 5px 0;
      }
      .dropdown {
        display: flex;
        align-items: center;

        position: relative;

        margin: 0 5px 20px 0;

        border: 1px solid grey;
        background-color: #fff;
        &__input {
          font-size: 18px;

          padding: 4px;

          border: none;
          outline: none;

          pointer-events: none;

          &::placeholder {
            opacity: 0.4;
          }
        }
        &__chevron {
          width: 40px;

          position: relative;
          top: 0;

          padding: 8px;

          text-align: center;

          transform: rotate(0deg);
          cursor: pointer;

          &::before {
            @include beforeChevron;
          }

          &::after {
            @include afterChevron;
          }
        }
      }
      .pseudooptions {
        width: 266px;

        position: absolute;

        z-index: 1;
        &__all {
          &_row {
            padding: 4px;

            border: 1px solid grey;
            background-color: white;

            cursor: pointer;
          }
        }
      }
    }
    &_summ {
      .summ__name {
        font-size: 20px;

        display: flex;

        margin: 5px;
      }
      .summ__input {
        .summ {
          font-size: 18px;

          width: 252px;

          padding: 4px;
          margin: 0 5px 20px;

          border: 1px solid grey;
          &::placeholder {
            opacity: 0.4;
          }
        }
      }
    }
    &_buttons {
      display: flex;
      width: 100%;
      justify-content: center;
      .ok {
        font-size: 18px;

        width: 90px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 10px;

        background-color: green;
        border-radius: 10px;
        border: none;
        color: #fff;

        outline: none;
        cursor: pointer;
      }
      .cancel {
        font-size: 18px;

        width: 90px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 10px;

        background-color: red;
        border-radius: 10px;
        border: none;
        color: #fff;

        outline: none;
        cursor: pointer;
      }
    }
  }
}
</style>
