<template lang="pug">
.form-budget
    form.form-budget__adding(@submit.prevent="saveData")
      .form-budget__adding_name
        .bname Budget name:
        .form-budget__adding_input
          input.name(type="text" v-model="name" name="name" autofocus placeholder="Set budget's name")
      .form-budget__adding_currency
        .name Budget currency:
        .dropdown
          input.dropdown__input(placeholder="Choose your currency" v-model="selectedCurrency" name="currency")
          .dropdown__chevron(@click="changePseudooptions")
        .pseudooptions(v-if="openPseudooptions")
          .pseudooptions__all(v-for="(currency, i) in currencyArray" :key="i")
            .pseudooptions__all_row(@click="addNewBudget(i)") {{ currency }}
      .form-budget__adding_limit
        .limit__name Budget limit:
        .limit__input
          input.limit(type="text" v-model="limit" placeholder="Enter limit" name="limit")
        .form-budget__adding_buttons
          input.ok(type="submit" value="Ok")
          .cancel(@click="cancel") Cancel
</template>

<script>
import { mapActions } from 'vuex';
import currencies from '../../helpers/currencies.js';

export default {
  data: () => ({
    closeForm: false,
    currencyArray: currencies,
    limit: '',
    name: '',
    openPseudooptions: false,
    selectedCurrency: ''
  }),
  methods: {
    ...mapActions(['setBudget', 'setCurrencies']),
    addNewBudget(ind) {
      this.currencyArray.forEach((item, i) => {
        if (i === ind) {
          this.selectedCurrency = item;
        }
      });
      this.openPseudooptions = !this.openPseudooptions;
    },
    changePseudooptions() {
      this.openPseudooptions = !this.openPseudooptions;
    },
    cancel() {
      this.showAdding = !this.showAdding;
      this.$emit('cancel', this.closeForm);
    },
    saveData(e) {
      // eslint-disable-next-line
      let withoutComma;
      if (e.target.limit.value.search(',') !== -1) {
        withoutComma = e.target.limit.value.replace(/,/g, '.');
      } else {
        withoutComma = e.target.limit.value;
      }
      const newBudget = {
        name: e.target.name.value,
        currency: e.target.currency.value,
        limit: Number(withoutComma)
      };
      this.showAdding = !this.showAdding;
      this.$emit('saveData', this.closeForm);
      this.setBudget(newBudget);
      this.setCurrencies();
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/mixins.scss';

.form-budget {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, 50%);
  z-index: 1;
  &__adding {
    width: 290px;

    @include flexColCenterAlignStart;

    padding: 20px 5px 20px 20px;

    border: 1px solid grey;
    background-color: beige;
    &_name {
      font-size: 20px;

      margin: 5px;

      .bname {
        display: flex;

        margin: 0 5px 5px 0;
      }
    }
    &_input {
      margin: 0 0px 20px 0px;

      .name {
        font-size: 18px;

        width: 252px;

        padding: 4px;

        border: 1px solid grey;
        &::placeholder {
          opacity: 0.4;
        }
      }
    }
    &_currency {
      margin: 0 5px 20px;

      .name {
        font-size: 20px;

        display: flex;

        margin: 0 5px 5px 0;
      }
      .dropdown {
        display: flex;
        align-items: center;

        position: relative;

        border: 1px solid grey;
        background-color: #fff;
        &__input {
          font-size: 18px;

          padding: 4px;

          border: none;
          outline: none;

          pointer-events: none;

          &::placeholder {
            opacity: 0.4;
          }
        }
        &__chevron {
          width: 40px;

          position: relative;
          top: 0;

          padding: 8px;

          text-align: center;

          transform: rotate(0deg);
          cursor: pointer;

          &::before {
            @include beforeChevron;
          }

          &::after {
            @include afterChevron;
          }
        }
      }
      .pseudooptions {
        width: 266px;

        position: absolute;

        z-index: 1;
        &__all {
          &_row {
            padding: 4px;

            border: 1px solid grey;
            background-color: white;

            cursor: pointer;
          }
        }
      }
    }
    &_limit {
      .limit__name {
        font-size: 20px;

        display: flex;

        margin: 5px;
      }
      .limit__input {
        .limit {
          font-size: 18px;

          width: 252px;

          padding: 4px;
          margin: 0 5px 20px;

          border: 1px solid grey;
          &::placeholder {
            opacity: 0.4;
          }
        }
      }
    }
    &_buttons {
      display: flex;
      width: 100%;
      justify-content: center;
      .ok {
        font-size: 18px;

        width: 90px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 10px;

        background-color: green;
        border-radius: 10px;
        border: none;
        color: #fff;

        outline: none;
        cursor: pointer;
      }
      .cancel {
        font-size: 18px;

        width: 90px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 10px;

        background-color: red;
        border-radius: 10px;
        border: none;
        color: #fff;

        outline: none;
        cursor: pointer;
      }
    }
  }
}
</style>
