<template lang="pug">
    .table
        table.table__form(v-if="checkBudgets")
            thead.table__thead
                tr.table__thead_row
                    th(v-for="(item, i) in headArray" :key="i" :class='"row" + (i+1)')
                        div(:class='"data" + (i+1)') {{ item }}
            tbody.table__tbody
                tr.table__tbody_row(v-for="(item, i) in getBudgets" :key="i")
                  td.name(@click="routeToBudget(i)") {{ item.name }}
                  td.currency {{ item.currency }}
                  td.limit {{ item.limit }}
                  td.remain {{ item.remBudget }}
                  td.avg {{ item.avgSumm }}
                  td.min {{ item.minSumm }}
                  td.max {{ item.maxSumm }}
                  td.budget-delete
                    button.erase(@click="erase(i)") X
        .budget__preview(v-if="!checkBudgets")
          span.budget__preview_no-active There are no active budgets yet...
          span.budget__preview_new-one Please, create new one
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  data: () => ({
    headArray: [
      'Budget name',
      'Currency',
      'Limit',
      'Remaining budget',
      'Average transaction summ',
      'Min Transactions Summ',
      'Max Transactions Summ',
      'Delete'
    ]
  }),
  computed: {
    ...mapGetters(['getBudgets']),
    checkBudgets() {
      return this.getBudgets.length > 0;
    }
  },
  created() {
    this.receiveBudgets();
  },
  methods: {
    ...mapActions(['deleteSelectedBudget', 'receiveBudgets']),
    erase(ind) {
      this.deleteSelectedBudget(ind);
    },
    routeToBudget(ind) {
      this.$router.push(`budgets/${ind}`);
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/mixins.scss';

.table {
  &__form {
    width: 100%;

    border: 1px solid grey;

    .table__thead {
      background: rgb(240, 255, 240);
      &_row {
        display: flex;
        .row1 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 16.5%;

          @include paddin2Margin4Grey;
          .data1 {
          }
        }
        .row2 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 8.5%;

          @include paddin2Margin4Grey;
          .data2 {
          }
        }
        .row3 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
          .data3 {
          }
        }
        .row4 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
          .data4 {
          }
        }
        .row5 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
          .data5 {
          }
        }
        .row6 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
          .data6 {
          }
        }
        .row7 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
          .data7 {
          }
        }
        .row8 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 4.5%;

          @include paddin2Margin4Grey;
          .data8 {
          }
        }
      }
    }
    .table__tbody {
      background: white;
      &_row {
        display: flex;
        .name {
          flex-basis: 16.5%;

          @include paddin2Margin4Grey;

          cursor: pointer;
        }
        .currency {
          font-weight: bold;

          flex-basis: 8.5%;

          @include paddin2Margin4Grey;
        }
        .limit {
          @include paddin2Margin4Grey;

          flex-basis: 12.5%;

          color: blue;
        }
        .remain {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: brown;
        }
        .avg {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: sandybrown;
        }
        .min {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: green;
        }
        .max {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: red;
        }
        .budget-delete {
          @include paddin2Margin4Grey;

          @include flexCenterAlign;
          flex-basis: 4.5%;

          .erase {
            background: red;
            color: #fff;

            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
  .budget {
    &__preview {
      @include flexColCenterAlign;

      &_no-active {
        font-size: 22px;
      }
      &_new-one {
        font-size: 22px;

        margin-bottom: 25px;
      }
      &_add {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        .button__plus {
          font-size: 36px;
          font-weight: bold;

          width: 50px;
          height: 50px;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: green;
          border-radius: 50%;

          color: #fff;
        }
      }
    }
  }
}
</style>
