<template lang="pug">
  .budget
    .budget__form-wrapper(v-if="showAdding")
      Form(@saveData="listenForm" @cancel="closeForm")
    .budget__table(v-if="showBudgets" :class="{'blur-filter': showAdding}")
      .budget__table_add-budget
        .add-new-budget Add new budget
        .button__plus(@click="showForm") +
      BudgetsTable
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Form from './form/CreateBudgetForm';
import BudgetsTable from './budgetsTable/BudgetsTable';

export default {
  components: {
    Form,
    BudgetsTable
  },
  data: () => ({
    showAdding: false,
    showContent: true,
    showBudgets: true,
    createdBudget: {}
  }),
  computed: {
    ...mapGetters(['getBudgets'])
  },
  created() {
    this.setCurrencies();
  },
  methods: {
    ...mapActions(['setCurrencies']),
    closeForm(data) {
      this.showAdding = data;
      this.showBudgets = !data;
    },
    listenForm(data) {
      this.showAdding = data;
      this.showBudgets = !data;
    },
    showForm() {
      this.showContent = false;
      this.showAdding = !this.showAdding;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../assets/mixins.scss';

.budget {
  &__form-wrapper {
    position: relative;
  }
  &__table {
    &_add-budget {
      display: flex;
      justify-content: flex-end;

      padding: 5px;

      background: #fff;
      .add-new-budget {
        font-size: 18px;

        @include flexCenterAlign;

        padding-right: 10px;
        margin-right: 10px;

        border-right: 1px solid grey;
      }
      .button__plus {
        font-size: 26px;
        font-weight: bold;

        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: green;
        border-radius: 50%;

        color: #fff;
        cursor: pointer;
      }
    }
  }
}
.blur-filter {
  filter: blur(2px);
  transition: filter 0.3s ease-in;
}
</style>
