@mixin beforeChevron {
  content: '';
  position: absolute;
  top: 7px;
  left: 34px;
  height: 12%;
  width: 12%;
  background: grey;
  transform: skew(0deg, 45deg);
}

@mixin afterChevron {
  content: '';
  position: absolute;
  top: 7px;
  right: 8px;
  height: 12%;
  width: 12%;
  background: grey;
  transform: skew(0deg, -45deg);
}

@mixin flexCenterAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColCenterAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColCenterAlignStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin paddin2Margin4Grey {
  padding: 4px;
  margin: 2px;

  border: 1px solid grey;
}
