<template lang="pug">
    .table
      table.table__form
        thead.table__thead
          tr.table__thead_row
            th(v-for="(item, i) in headArray" :key="i" :class='"row" + (i+1)')
              div(:class='"data" + (i+1)') {{ item }}
        tbody
          tr.table__tbody_row(v-for="(item, i) in getAllTransactions" :key="i")
            td.description {{ item.name }}
            td.summ {{ item.summ }}
            td.currency {{ item.currency }}
            td.transaction-delete
              button.erase(@click="eraseTransaction(i)") X
      .transactions__preview(v-if="!checkTransactions")
        span.transactions__preview_no-active There are no transactions yet...
        span.transactions__preview_new-one Please, create new one
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  data: () => ({
    headArray: [
      'Transaction description',
      'Transactions summ',
      'Transactions currency',
      'Delete'
    ]
  }),
  computed: {
    ...mapGetters({
      currentBudgetById: 'getCurrentBudgetId',
      getAllTransactions: 'getAllTransactions'
    }),
    checkTransactions() {
      return this.getAllTransactions.length > 0;
    }
  },
  created() {
    this.currentBudgetId(this.$route.params.id);
    this.loadSelectedTransactions(this.$route.params.id);
    this.setCurrenciesBeforeTrans();
  },
  methods: {
    ...mapActions([
      'currentBudgetId',
      'deleteSelectedTransaction',
      'loadSelectedTransactions',
      'receiveTransactions',
      'setCurrenciesBeforeTrans'
    ]),
    eraseTransaction(ind) {
      const currentIndex = this.currentBudgetById;
      this.deleteSelectedTransaction({ ind, currentIndex });
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/mixins';

.table {
  max-height: max-content;
  &__form {
    width: 100%;

    border: 1px solid grey;

    .table__thead {
      background: rgb(240, 255, 240);
      &_row {
        display: flex;
        .row1 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 32%;

          @include paddin2Margin4Grey;
          .data1 {
          }
        }
        .row2 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 32%;

          @include paddin2Margin4Grey;
          .data2 {
          }
        }
        .row3 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 32%;

          @include paddin2Margin4Grey;
          .data3 {
          }
        }
        .row4 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 4%;

          @include paddin2Margin4Grey;
          .data4 {
          }
        }
      }
    }
    .table__tbody {
      background: white;
      &_row {
        display: flex;

        background: white;
        .description {
          @include flexCenterAlign;
          flex-basis: 32%;

          @include paddin2Margin4Grey;
        }
        .summ {
          @include flexCenterAlign;
          flex-basis: 32%;

          @include paddin2Margin4Grey;

          color: blue;
        }
        .currency {
          font-weight: bold;

          @include flexCenterAlign;
          flex-basis: 32%;

          @include paddin2Margin4Grey;
        }
        .transaction-delete {
          @include flexCenterAlign;
          flex-basis: 4%;

          @include paddin2Margin4Grey;

          .erase {
            background: red;
            color: #fff;

            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
  .transactions__preview {
    @include flexColCenterAlign;

    &_no-active {
      font-size: 22px;
    }
    &_new-one {
      font-size: 22px;

      margin-bottom: 25px;
    }
    &_add {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      .button__plus {
        font-size: 36px;
        font-weight: bold;

        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: green;
        border-radius: 50%;

        color: #fff;
      }
    }
  }
}
</style>
